@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-body {
  height: calc(500px - (45px + 70px));

  position: relative;
}
.chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-body .message-container::-webkit-scrollbar {
  @apply hidden;
}
